.app-component-product-mini {
    display: flex; padding: 15px 0 14px 0; border-bottom: 1px solid #c4c4c4;
    justify-content: space-between; align-items: center; position: relative;
    .logo {width: 83px; height: 83px;}
    .content {
        flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; margin-left: 13px; height: 83px;
        .box-1, .box-2, .box-3, .box-4 { display: flex; justify-content: flex-start; align-items: center; width: 100%; }
        .box-1 {
            margin-bottom: 7px;
            .product-name {font-size: 14px; font-weight: bold; color: #333333; margin-right: 9px;}
            .product-tag {font-size: 11px; font-weight: 300; color: #f5f5f5; padding: 4px 5px;
                background:rgba(0,180,91,1);border-radius:8px 7px 7px 8px;}
        }
        .box-2 {
            .tag {
                background:rgba(118,118,118,1); border-radius:2px; font-size: 9px; font-weight: 300; color: #ffffff; padding: 4px 5px; margin-right: 16px;
            }
        }
        .box-3 {
            margin: 7px 0;
            .text { font-size: 9px; font-weight: 300; color: #666666; }
        }
        .box-4 {
            .item {
                display: flex; width: 100px;
                .label {font-size: 10px; font-weight: 400; color: #333333; margin-right: 2px;}
                .value {font-size: 10px; font-weight: bold; color: #D6000F;}
            }
        }
    }
}
.app-component-product-mini:last-child {
    border: 0;
}